<!-- profile -->
<div id="profile" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Profile - About Me</h1>

<div class="row top-p">
    <div class="col-md-6 profile-l">
 		
        <!--About me-->
        <div class="title_content">
            <div class="text_content">Siyi Wang</div>
            <div class="clear"></div>
        </div>

		   <ul class="about">

            <li>
                <i class="glyphicon glyphicon-user"></i>
                <label>Name</label>
                <span class="value">Siyi Wang</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-calendar"></i>
                <label>Date of birth</label>
                <span class="value">February 14, 2003</span>
                <div class="clear"></div>
            </li>

            <li> 
                <i class="glyphicon glyphicon-map-marker"></i>
                <label>Adress</label>
                <span class="value">Beijing , CHINA</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-envelope"></i>
                <label>Email</label>
                <span class="value">wangsi22@msu.edu</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-phone"></i>
                <label>Phone</label>
                <span class="value">+1 7607500603</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-globe"></i>
                <label>Website</label>
                <span class="value"><a href="#" target="_blank">sc.chinaz.com</a></span>
                <div class="clear"></div>
            </li>

        </ul>


           <p style="margin-bottom:20px">
               <i class="fa fa-quote-left"></i>
               A computer worker needs to have a serious and rigorous work attitude and a high sense of responsibility. At work, you should pay attention to details, be good at analyzing and solving problems, and always aim to meet customer needs. And be able to stay calm in a high-pressure environment and deliver high-quality work results on time.
           </p>
        
           <p style="margin-bottom:20px">
               <i class="fa fa-quote-left"></i>
               In my spare time, I am keen on hiking and photography. I like hiking, enjoying the beauty of nature, and recording those beautiful moments through the lens. These hobbies not only enrich my life, but also cultivate my ability to observe subtle things and creativity.
           </p>

    </div>
    <!-- End left-wrap -->

    <div class="col-md-6 profile-r">

        <div class="cycle-slideshow">
            <img src="images/img-profile/about_1.jpg" alt="" />
            <img src="images/img-profile/about_2.png" alt="" />
            <img src="images/img-profile/about_3.png" alt="" />
        </div>

    </div>

</div>


<!-- begin service -->
<div class="clear"></div>
<div class="row" id="services">
	<div class="col-md-12">
        <div class="title_content">
            <div class="text_content">Technical Skills</div>
            <div class="clear"></div>
        </div>


        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-tag"></i></div>
                <div class="service-detail">
                    <h6>HTML</h6>
                    <p>Have basic HTML skills and be able to participate in website development and maintenance.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-cogs"></i></div>
                <div class="service-detail">
                    <h6>C++/Python</h6>
                    <p>Have basic C++ and Python programming skills, and be able to write simple programs and debug codes.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-arrows-alt"></i></div>
                <div class="service-detail">
                    <h6>Office Software Skills</h6>
                    <p>Proficient in using Excel, Word, PowerPoint and other office software, able to efficiently process data, edit documents and make presentations.</p>
                </div>
            </div>
        </div>
     </div> 
</div><!-- End Services -->



<!-- service 2 -->
<div class="clear"></div>
<div class="border-list"></div>

<div class="row">
<div class="col-md-12">
    <div class="bottom-p">
        <div class="title_content">
            <div class="text_content">Skills Summary</div>
            <div class="clear"></div>
        </div>

        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="collapse_tabs">
                            HTML
                            <i class="glyphicon glyphicon-chevron-up" style="float: right;font-size: 13px;"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <i class="fa fa-quote-left"></i>  Possess basic HTML skills and be able to participate in website development and maintenance. Be familiar with web page layout and basic front-end development techniques, and be able to write and optimize web page code to ensure the compatibility and performance of the website on different browsers and devices. HTML is the foundation of front-end development. Mastering this skill can effectively improve the efficiency of web design and content updates, and assist the front-end development team in improving user experience and the overall quality of the website. Understanding HTML is essential for anyone who wants to engage in web development. It is a core skill for building modern web pages and applications.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapse_tabs">
                            C++/Python
                            <i class="glyphicon glyphicon-chevron-down" style="float: right;font-size: 13px;"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        <i class="fa fa-quote-left"></i>  I have basic C++ and Python programming skills, and can write simple programs and debug code. These skills enable me to develop and maintain basic applications and scripts, implement algorithms, and optimize performance. By using C++, I can write efficient low-level code and handle system-level programming tasks. With Python, I can quickly develop and test prototypes, perform data analysis, and automate tasks. These programming skills not only improve my technical skills, but also enhance my ability to solve problems in a variety of programming environments.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapse_tabs">
                            Office Software Skill
                            <i class="glyphicon glyphicon-chevron-down" style="float: right;font-size: 13px;"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        <i class="fa fa-quote-left"></i>  I am proficient in using office software such as Excel, Word, and PowerPoint, and can efficiently process data, edit documents, and make presentations. In Excel, I am proficient in using formulas, pivot tables, and charts to analyze and visualize data, and improve data processing efficiency. In Word, I can create and edit complex documents, and use styles, templates, and directories to improve the professionalism and readability of documents. In PowerPoint, I can design and produce high-quality presentations, and use animations and multimedia elements to enhance the presentation effect. These office software skills can be used to complete work efficiently and professionally in various office tasks.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapse_tabs">
                            Other Skills
                            <i class="glyphicon glyphicon-chevron-down" style="float: right;font-size: 13px;"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        <i class="fa fa-quote-left"></i>  I am proficient in using office software such as Excel, Word, and PowerPoint, and can efficiently process data, edit documents, and make presentations. In Excel, I am proficient in using formulas, pivot tables, and charts to analyze and visualize data, and improve data processing efficiency. In Word, I can create and edit complex documents, and use styles, templates, and directories to improve the professionalism and readability of documents. In PowerPoint, I can design and produce high-quality presentations, and use animations and multimedia elements to enhance the presentation effect. These office software skills can be used to complete work efficiently and professionally in various office tasks.
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
<!-- end service 2 -->

<div class="clear"></div>
</div>
<!-- End .profile -->